apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: flink-deployment-example
spec:
  image: quay.io/streamshub/flink-sql-runner:v0.0.1
  imagePullPolicy: Always
  flinkVersion: v1_20
  flinkConfiguration:
    taskmanager.numberOfTaskSlots: "1"
  serviceAccount: flink
  jobManager:
    resource:
      memory: "2048m"
      cpu: 1
  taskManager:
    resource:
      memory: "2048m"
      cpu: 1
  job:
    jarURI: local:///opt/streamshub/flink-sql-runner.jar
    #Replace the value for "args" with your own SQL statements
    args: ["
        CREATE TABLE orders (
          order_number BIGINT, 
          price DECIMAL(32,2), 
          buyer ROW<first_name STRING, 
          last_name STRING>, 
          last_name STRING, 
          order_time TIMESTAMP(3)
        ) WITH (
          'connector' = 'datagen'
        ); 
        CREATE TABLE print_table 
        WITH (
          'connector' = 'print'
        ) 
        LIKE orders
        ; 
        INSERT INTO print_table 
          SELECT * 
          FROM orders;
        "]
    parallelism: 1
    upgradeMode: stateless